div{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}
div input{
    border-radius: 15rem 0 0 15rem;
    border: none;
    height: 3rem;
    width: 10rem;
    background-color: rgb(207, 223, 245);
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}

div button{
    color: grey;
    height: 3remq;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: red;
    color: white;
    opacity: .8;
    outline: none;
}
div button:hover{
    opacity: 1;
    cursor: pointer;
}